* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
}

.container {
    width: 80%;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    background-color: hsl(0, 0%, 100%);
}

img {
    max-width: 100%;
    border-radius: 5% 5% 0 0;
}

.body {
    padding: 5%;
}
.body p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0.844rem;
    color: hsl(228, 12%, 48%);
}
.body p:first-child {
    font-variant-caps: all-petite-caps;
    letter-spacing: 0.313rem;
}
.body p:last-of-type {
    margin-bottom: 1.563rem;   
}
.body h2 {
    font-family: Fraunces;
    font-weight: 700;
    font-size: 1.875rem;
    margin-bottom: 0.938rem;
}

.attribution { 
    position: absolute;
    top: 80%;
    left: 15%;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }